@charset "utf-8";
.cssStart{display:none}
body{color:#3b3b3b;background-color:#FFFFFF;}
.gb_copyright{color:#71767f;}
.text-input,.text-input-s, textarea{border-color:#d8e4f0;}
.c_tx3,.c_tx3:link,.c_tx3:visited{color:#949494;}
.c_tx4,.c_tx4:link,.c_tx4:visited{color:#37579e;}
.c_tx5,.c_tx5:link,.c_tx5:visited{color:#3b5998;}
a,a:link,a:visited,.c_tx2,.c_tx2:link,.c_tx2:visited{color:#4d4d4d;}
a:hover,a:active,.c_tx,.c_tx:link,.c_tx:visited{color:#3b5998;}
#spacename{color:#FFFFFF;}
#spaceexplain, #qzoneurl{color:#E3E1E0;}
.style_menu_t .op span{color:#FFFFFF;background-color:#5a75aa;border-top:1px solid #b4bfd6;border-right:1px solid #283249;border-bottom:1px solid #283249;border-left:1px solid #b4bfd6;}
.bor,.tbor,.bbor,.lbor,.rbor,.bgr,.bgr2{border-color:#d8e4f0;}
.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag a{border-color:#d8e4f0;}
.bor2,.bor2,.tbor2,.bbor2,.lbor2,.rbor2{border-color:#94a3c4;}
.bor3,.lbor3,.rbor3,.bbor3,.tbor3{border-color:#d8e4f0;}
.bor4,.lbor4,.rbor4,.bbor4,.tbor4{border-color:#DDDDDD;}
.bor5,.lbor5,.rbor5,.bbor5,.tbor5{border-color:#f3f5f9;}
.bg,.bgr{background-color:#FFFDFE;}
.bg2,.bgr2,.icenter_list_extend .mood_feeds .mood_comment_list,.icenter_list_extend .mood_feeds .mood_comm_list,.icenter_list_extend .mood_feeds .feeds_reply .feeds_reply_index .reply_piece,.icenter_list_extend .mood_feeds .feeds_reply .feeds_reply_form{background-color:#f3f5f9;}
.bg3{background-color:#ABE0F2;}
.bg4{background-color:#FFF0F7;}
.bg5{background-color:#f3f5f9;}
.bg6{background-color:#d8e4f0;}
.bgr3{background-color:#EEF7FF;border-color:#ACDFF2;}
.bg_mode .mode_gb,.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag2 ul li.nowtag a{background-color:#FFFFFF;}
.bg_mode .style_mode_gb_title{background-color:transparent;}
.bg_mode .mode_gb_title{background-color:transparent;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title,.bg_mode .style_mode_gb_title .bg_mode_gb_title a{color:#333333;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title{background:url(/ac/qzone_v5/skin/151/style.png) repeat-x 0 -257px;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title h3{padding-left:0;position:relative;left:8px;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title .icon_title{background-image:none;width:7px;display:none;}
.bg_mode .box_ml{border-top-color:#94a3c4;}
.bg_mode .mode_gb_opmenu{background-color:#FFF2F8;}
.bt_tx1,.bt_tx2,.bt_tx4,.bt_tx5,.bt_tx6,.bt_tx7{background-image:url(/ac/qzone_v5/skin/151/style.png);color:#FFFFFF;}
.mode_menu_tag{background-color:transparent;background-image:url(/ac/qzone_v5/skin/151/bg_line_menu.gif);}
.mode_menu_tag2{background-color:transparent;background-image:url(/ac/qzone_v5/skin/151/bg_line_menu.gif);border:medium none;}
.mode_menu_tag2 ul li a{background-color:#f3f5f9;border-color:transparent;border-width:0;}
.mode_menu_tag2 ul li.nowtag a{border-color:#d8e4f0;border-width:1px;border-bottom-color:#FFFFFF;}

/*=S 圆角=*/
#Module_view_0_7 client_tip,
#tips_diamondLevel .client_tip,
#vipBar .vip_rate_bar{-moz-border-radius:5px; -webkit-border-radius:5px;}
#icTabContainer li a,
#Module_view_0_7 .mode_menu_tag2 li a{-moz-border-radius:5px 5px 0 0; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;}
#icTabAppArea {-moz-border-radius:0 0 5px 5px; -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;}
#vipBar .vip_rate_bar { -webkit-border-radius:4px;}
#icTabAppArea textarea {-moz-border-radius:2px; -webkit-border-radius:2px;}
/*=S 圆角=*/

.cssEnd{display:none}


/*
.recent_friends .recent_friends_qme{
margin-left:8px!important;
}
.recent_friends .recent_friends_qme .icon_qme{
background-image:url(/ac/qzone_v5/skin/151/style.png)!important;
background-repeat:no-repeat!important;
background-position:right top!important;
width:36px!important;
height:11px!important;
}*//*  |xGv00|beae0de7cc6d76d134c383d023a4d88f */