@charset "utf-8";
.cssStart{display:none}
body{color:#DDDDDD;background-color:#FFFFFF;}
.gb_copyright{color:#B7B7B7;}
.text-input,.text-input-s, textarea{border-color:#929292;}
.c_tx3,.c_tx3:link,.c_tx3:visited{color:#DDDDDD;}
.c_tx4,.c_tx4:link,.c_tx4:visited{color:#6C9CE6;}
.c_tx5,.c_tx5:link,.c_tx5:visited{color:#6A9BE7;}
a,a:link,a:visited,.c_tx2,.c_tx2:link,.c_tx2:visited{color:#DDDDDD;}
a:hover,a:active,.c_tx,.c_tx:link,.c_tx:visited{color:#FE3981;}
#spacename,#spaceexplain,#qzoneurl{color:#FFFFFF;}
.style_menu_t .op span{color:#FFFFFF;background-color:#213943;}
.bor,.tbor,.bbor,.lbor,.rbor,.bgr,.bgr2{border-color:#545454;}
.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag a,.mode_menu_tag2 ul li a{border-color:#6A7F80;}
.bor2,.bor2,.tbor2,.bbor2,.lbor2,.rbor2{border-color:#6A7F80;}
.bor3,.lbor3,.rbor3,.bbor3,.tbor3{border-color:#7C7B7D;}
.bor4,.lbor4,.rbor4,.bbor4,.tbor4{border-color:#676567;}
.bor5,.lbor5,.rbor5,.bbor5,.tbor5{border-color:#7C7B7D;}
.bg,.bgr{background-color:#121923;}
.bg2,.bgr2{background-color:#465A5B;}
.bg3{background-color:#929292;}
.bg4{background-color:#414141;}
.bg5{background-color:#2D2D2D;}
.bg6{background-color:#2E2E2E;}
.bgr3{background-color:#EEF7FF;border-color:#ACDFF2;}
.bg_mode .mode_gb,.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag2 ul li.nowtag a{background-color:#121923;}
.bg_mode .style_mode_gb_title{background-color:transparent;}
.bg_mode .mode_gb_title{background-color:transparent;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title,.bg_mode .style_mode_gb_title .bg_mode_gb_title a{color:#FFFFFF;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title{background:url(/ac/qzone_v5/skin/17/style.png) repeat-x 0 -257px;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title .icon_title{background-image:url(/ac/qzone_v5/skin/17/style.png);}
.bg_mode .mode_gb_opmenu{background-color:#000000;}
.bt_tx1,.bt_tx2,.bt_tx4,.bt_tx5,.bt_tx6,.bt_tx7{background-image:url(/ac/qzone_v5/skin/17/style.png);color:#333333;}
.mode_menu_tag{background-color:#465A5B;background-image:url(/ac/qzone_v5/skin/17/bg_line_menu.gif);}
.mode_menu_tag2{background-color:transparent;background-image:url(/ac/qzone_v5/skin/17/bg_line_menu.gif);border:medium none;}
.mode_menu_tag2 ul li.nowtag a{border-bottom-color:#121923;}
.mode_menu_tag2 ul li a{background-color:#465A5B;}
.cssEnd{display:none}
/*  |xGv00|96665e003d0cc954dfa5484f91420fcf */