@charset "utf-8";
.cssStart{display:none}
body{color:#A3A3A3;background-color:#FFFFFF;}
.gb_copyright{color:#B7B7B7;}
.text-input,.text-input-s, textarea{border-color:#B77F2C;}
.c_tx3,.c_tx3:link,.c_tx3:visited{color:#FFFFFF;}
.c_tx4,.c_tx4:link,.c_tx4:visited{color:#FFCA25;}
.c_tx5,.c_tx5:link,.c_tx5:visited{color:#FF9900;}
a,a:link,a:visited,.c_tx2,.c_tx2:link,.c_tx2:visited{color:#FFFFFF;}
a:hover,a:active,.c_tx,.c_tx:link,.c_tx:visited{color:#707070;}
#spacename{color:#FFFFFF;}
#spaceexplain, #qzoneurl{color:#E3E1E0;}
.style_menu_t .op span{color:#FFFFFF;background-color:#904F1B;}
.bor,.tbor,.bbor,.lbor,.rbor,.bgr,.bgr2{border-color:#B77F2C;}
.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag a,.mode_menu_tag2 ul li a{border-color:#FFE436;}
.bor2,.bor2,.tbor2,.bbor2,.lbor2,.rbor2{border-color:#B77F2C;}
.bor3,.lbor3,.rbor3,.bbor3,.tbor3{border-color:#DEDEDE;}
.bor4,.lbor4,.rbor4,.bbor4,.tbor4{border-color:#B77F2C;}
.bor5,.lbor5,.rbor5,.bbor5,.tbor5{border-color:#DEDEDE;}
.bg,.bgr{background-color:#010101;}
.bg2,.bgr2{background-color:#404040;}
.bg3{background-color:#B77F2C;}
.bg4{background-color:#404040;}
.bg5{background-color:#404040;}
.bg6{background-color:#404040;}
.bgr3{background-color:#EEF7FF;border-color:#ACDFF2;}
.bg_mode .mode_gb,.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag2 ul li.nowtag a{background-color:#010101;}
.bg_mode .style_mode_gb_title{background-color:transparent;}
.bg_mode .mode_gb_title{background-color:transparent;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title,.bg_mode .style_mode_gb_title .bg_mode_gb_title a{color:#33362F;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title{background:url(/ac/qzone_v5/skin/15/style.png) repeat-x 0 -257px;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title .icon_title{background-image:url(/ac/qzone_v5/skin/15/style.png);}
.bg_mode .mode_gb_opmenu{background-color:#B77F2C;}
.bt_tx1,.bt_tx2,.bt_tx4,.bt_tx5,.bt_tx6,.bt_tx7{background-image:url(/ac/qzone_v5/skin/15/style.png);color:#440500;}
.mode_menu_tag{background-color:#404040;background-image:url(/ac/qzone_v5/skin/15/bg_line_menu.gif);}
.mode_menu_tag2{background-color:transparent;background-image:url(/ac/qzone_v5/skin/15/bg_line_menu.gif);border:medium none;}
.mode_menu_tag2 ul li.nowtag a{border-bottom-color:#010101;}
.mode_menu_tag2 ul li a{background-color:#404040;}
.cssEnd{display:none}
/*  |xGv00|57cd8399306a7bbe3115056e07d68988 */