@charset "utf-8";
.cssStart{display:none}
body{color:#666666;background-color:#FFFFFF;}
.gb_copyright{color:#B7B7B7;}
.text-input,.text-input-s, textarea{border-color:#1D5180;}
.c_tx3,.c_tx3:link,.c_tx3:visited{color:#9E9E9E;}
.c_tx4,.c_tx4:link,.c_tx4:visited{color:#3A73DA;}
.c_tx5,.c_tx5:link,.c_tx5:visited{color:#3A73DA;}
a,a:link,a:visited,.c_tx2,.c_tx2:link,.c_tx2:visited{color:#666666;}
a:hover,a:active,.c_tx,.c_tx:link,.c_tx:visited{color:#FB7800;}
#spacename{color:#0140A7;}
#spaceexplain, #qzoneurl{color:#053259;}
.style_menu_t .op span{color:#FFFFFF;background-color:#AAAAAB;}
.bor,.tbor,.bbor,.lbor,.rbor,.bgr,.bgr2{border-color:#C4C4C4;}
.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag a,.mode_menu_tag2 ul li a{border-color:#496C8C;}
.bor2,.bor2,.tbor2,.bbor2,.lbor2,.rbor2{border-color:#DCDCDC;}
.bor3,.lbor3,.rbor3,.bbor3,.tbor3{border-color:#676767;}
.bor4,.lbor4,.rbor4,.bbor4,.tbor4{border-color:#DDDDDD;}
.bor5,.lbor5,.rbor5,.bbor5,.tbor5{border-color:#676767;}
.bg,.bgr{background-color:#F8F8F8;}
.bg2,.bgr2{background-color:#EDF8FF;}
.bg3{background-color:#ABE0F2;}
.bg4{background-color:#A8CAF0;}
.bg5{background-color:#E0EDF5;}
.bg6{background-color:#EEEEEE;}
.bgr3{background-color:#EEF7FF;border-color:#ACDFF2;}
.bg_mode .mode_gb,.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag2 ul li.nowtag a{background-color:#F8F8F8;}
.bg_mode .style_mode_gb_title{background-color:transparent;}
.bg_mode .mode_gb_title{background-color:transparent;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title,.bg_mode .style_mode_gb_title .bg_mode_gb_title a{color:#343434;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title{background:url(/ac/qzone_v5/skin/16/style.png) repeat-x 0 -257px;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title .icon_title{background-image:url(/ac/qzone_v5/skin/16/style.png);}
.bg_mode .mode_gb_opmenu{background-color:#EEF7FF;}
.bt_tx1,.bt_tx2,.bt_tx4,.bt_tx5,.bt_tx6,.bt_tx7{background-image:url(/ac/qzone_v5/skin/16/style.png);color:#333333;}
.mode_menu_tag{background-color:#CDDBF5;background-image:url(/ac/qzone_v5/skin/16/bg_line_menu.gif);}
.mode_menu_tag2{background-color:transparent;background-image:url(/ac/qzone_v5/skin/16/bg_line_menu.gif);border:medium none;}
.mode_menu_tag2 ul li.nowtag a{border-bottom-color:#F8F8F8;}
.mode_menu_tag2 ul li a{background-color:#CDDBF5;}
.cssEnd{display:none}
/*  |xGv00|6b6ee2de569b2cfceb3e34dcdda2f3b2 */