@charset "utf-8";
.cssStart{display:none}
body{color:#AFAFAF;}
#spacename{color:#0B1013;}
#spaceexplain,#qzoneurl{color:#0B1013;}
.c_tx,a.c_tx:link,a.c_tx:visited{color:#00B9F9;}
a.c_tx:hover,a.c_tx:active{color:#00D3F9;}
.c_tx2,a.c_tx2:link,a.c_tx2:visited,a:link,a:visited{color:#AFAFAF;}
a.c_tx2:hover,a.c_tx2:active,a:hover,a:active{color:#00B9F9;}
.c_tx3,a.c_tx3:link,a.c_tx3:visited{color:#777B7E;}
a.c_tx3:hover,a.c_tx3:active{color:#3B4E5C;}
.c_tx4,a.c_tx4:link,a.c_tx4:visited{color:#E67309;}
a.c_tx4:hover,a.c_tx4:active{color:#D85C02;}
.bor,.tbor,.bbor,.lbor,.rbor,.bgr{border-color:#1C2F3D;}
.bor2,.bgr2,.tbor2,.bbor2,.lbor2,.rbor2,.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag a,.mode_menu_tag2 ul li a,.mode_tab2 a{border-color:#41515E;}
.bor3,.bgr3,.tbor3,.bbor3,.lbor3,.rbor3{border-color:#222C31;}
.bor4,.bgr4,.tbor4,.bbor4,.lbor4,.rbor4{border-color:#F6E190;}
.bor5,.bgr5,.tbor5,.bbor5,.lbor5,.rbor5{border-color:#1D212C;}
.text-input{color:#666666!important;background:#FFFFFF url(/ac/qzone_v5/skin_img/input_bg_70.png) repeat-x;border-color:#666666;}
.textinput,.textarea{color:#455B68!important;background-color:#0B1114;border-color:#1B363F;}
.input_focus{color:#AFAFAF!important;border-color:#13C1FE;}
.bgl{background-color:#1C2F3D;}
.bgl2{background-color:#41515E;}
.bgl3{background-color:#222C31;}
.bgl4{background-color:#F6E190;}
.bgl5{background-color:#1D212C;}
.bg,.bgr{background-color:#0B1013;}
.bg2,.bgr2{background-color:#192228;}
.bg3,.bgr3{background-color:#1C2429;}
.bg4,.bgr4{background-color:#FFFAE2;}
.c_bg{color:#0B1013;}
.c_bg2{color:#192228;}
.c_bg3{color:#1C2429;}
.c_bg4{color:#FFFAE2;}
.bg_mode .mode_gb,.mode_menu_tag .menuon,.mode_menu_tag .menulefton,.mode_menu_tag2 ul li.nowtag a,.mode_tab2_nonce{background-color:#0B1013;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title{background:url(/ac/qzone_v5/skin_img/30/style.png?091111.png) repeat-x 0 -257px;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title,.bg_mode .style_mode_gb_title .bg_mode_gb_title a:link,.bg_mode .style_mode_gb_title .bg_mode_gb_title a:visited,.c_tx5,a.c_tx5:link,a.c_tx5:visited{color:#165581;}
.bg_mode .style_mode_gb_title .bg_mode_gb_title a:hover,.bg_mode .style_mode_gb_title .bg_mode_gb_title a:active,a.c_tx5:hover,a.c_tx5:active{color:#22689B;}
.mode_gb .mode_gb_title h3{padding-left:8px;}
.bt_tx1,.bt_tx2,.bt_tx4,.bt_tx5,.bt_tx6,.bt_tx7{background-image:url(/ac/qzone_v5/skin_img/30/style.png?091111.png);color:#181C28;}
.gb_bt{color:#181C28;background-color:#009FF5;border-top:1px solid #56BFF8;border-right:1px solid #004A72;border-bottom:1px solid #004A72;border-left:1px solid #56BFF8;}
.mode_menu_tag,.mode_tab{background-color:#121B20;background-image:url(/ac/qzone_v5/skin_img/30/bg_line_menu.gif);}
.mode_menu_tag2,.mode_tab2{background-image:url(/ac/qzone_v5/skin_img/30/bg_line_menu.gif);}
.mode_menu_tag2 ul li.nowtag a,.mode_tab2_nonce{border-bottom-color:#0B1013;}
.mode_menu_tag2 ul li a,.mode_tab2 a{background-color:#121B20;}
.bg_mode_gb_title .icon_title{display:none;}
.cssEnd{display:none}/*  |xGv00|6d57d23e97e7f905a4448ed4cf8b395c */